body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

.product {
  background: white;
  padding: 20px;
  width: 250px;
  margin: auto;
  border-radius: 10px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

